:root,
[data-bs-theme=light] {
    --bs-primary: #ADD8E6;
    --bs-body-bg: #ADD8E6;

}

:root,
[data-bs-theme=dark] {
  --bs-primary: #ADD8E6;
  --bs-body-bg: #ADD8E6;
}

body {
  background-image: linear-gradient(90deg,#46B9E3,#747BFF,#BD4CE6);
}

.btn-primary {
    --bs-btn-bg: #EA7B5D;
    --bs-btn-border-color: #EA7B5D;
}

/*
.accordion {
    --bs-accordion-active-color: #EA7B5D;
    --bs-accordion-active-bg: #EA7B5D;
    --bs-accordion-border-color: #EA7B5D;
}*/
