:root,
[data-bs-theme=light] {
    --bs-primary: #ADD8E6;
    --bs-body-bg: #ADD8E6;

}

:root,
[data-bs-theme=dark] {
  --bs-primary: #ADD8E6;
  --bs-body-bg: #ADD8E6;
}

body {
  background-image: linear-gradient(90deg,#46B9E3,#747BFF,#BD4CE6);
}

.btn-primary {
    --bs-btn-bg: #EA7B5D;
    --bs-btn-border-color: #EA7B5D;
}

.btn-danger {
    --bs-btn-bg: #ef3030;
    --bs-btn-border-color: #ef3030;
}

.bg-primary {
    background-color: #EA7B5D !important;
}


/*.blur {
    background-color: rgba(255, 255, 255, 0.5); !* Fallback for older browsers *!
    opacity: 0.5; !* Fallback for older browsers *!
    backdrop-filter: blur(2px); !* This is what blurs the content *!
}*/

/*.modal {
    z-index: 9999;
}*/

/*
.accordion {
    --bs-accordion-active-color: #EA7B5D;
    --bs-accordion-active-bg: #EA7B5D;
    --bs-accordion-border-color: #EA7B5D;
}*/
